<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SourceTree.Properties.Settings>
            <setting name="DiffContext" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DiffWhiteSpaceIgnored" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>788</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LogOrdering" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogIncludeRemoteBranches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>86</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="GitWhichOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowModifyConfigFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFullName" serializeAs="String">
                <value>jokelin</value>
            </setting>
            <setting name="DefaultEmail" serializeAs="String">
                <value>jokelone@yeah.net</value>
            </setting>
            <setting name="LastOpenTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnonymousID" serializeAs="String">
                <value>6de9ce00-e5bc-41bc-bac2-36cd3070e00e</value>
            </setting>
            <setting name="LastCheckedNews" serializeAs="String">
                <value>12/17/2018 22:20:56</value>
            </setting>
            <setting name="AgreedToEULA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AgreedToEULAVersion" serializeAs="String">
                <value>20160201</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SSHClientType" serializeAs="String">
                <value>PuTTY</value>
            </setting>
            <setting name="ProxyServerMode" serializeAs="String">
                <value>OperatingSystem</value>
            </setting>
            <setting name="HgWhichOne" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EnableGitSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHgSupport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HgPostPullAction" serializeAs="String">
                <value>Update</value>
            </setting>
            <setting name="FirstLaunchSinceHgAdded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowScreenDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="AnalyticsHasAgreed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnalyticsDisplayOptIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileStatusSort" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CommitPaneHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NPSAnonUId" serializeAs="String">
                <value>4b25f475-8fdf-465f-8670-e9c201d22f92</value>
            </setting>
            <setting name="AasLastSubmitted" serializeAs="String">
                <value>12/19/2018 19:55:58</value>
            </setting>
            <setting name="LegacyAccountPersistenceServiceLoadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GitSystemPath" serializeAs="String">
                <value>C:\Users\Administrator\AppData\Local\Atlassian\SourceTree\git_local</value>
            </setting>
            <setting name="HgSystemPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NPSCancelCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnalyticsLastUploadDate" serializeAs="String">
                <value>12/19/2018 19:57:34</value>
            </setting>
            <setting name="PreviousCommitMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>基础框架搭建</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SourceTree.Properties.Settings>
    </userSettings>
</configuration>